@import '../../assests/css/variables-site/variables-site';

.cgp-appbar {
    height: calc(100% - 20px);
    &.leaflet-control {
        z-index: 1000;
    }

    .MuiDrawer-paper {
        position: relative !important;
    }

    .cgp-apppanel {
        display: none;
        &.search,
        &.account,
        &.filters,
        &.howto {
            display: block;
            .MuiCard-root.current {
                display: block;
            }
        }
        .MuiCard-root {
            margin: 0;
            display: none;
            max-width: calc(100vw - 61px);
            .MuiCardContent-root {
                height: calc(100vh - 163px);
                overflow-y: auto;
            }
        }
        .panel-title {
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.43em;
        }
        .section-title {
            font-size: 1.5rem;
            text-align: center;
        }
    }
}
