@import '../../assests/css/variables-site/variables-site';

.pagination-container {
    margin-top: 1rem;
    padding: 1rem 0;
    .pagination-total {
        color: $color__semi-dark;
        font-weight: 300;
        font-size: 1rem;
    }
    .pagination-list {
        .list-item {
            &.hover {
                background-color: $color__bg-aside;
                color: $color__bg-aside;
            }
            &.current {
                .page-link {
                    background-color: $color__bg-aside;
                }
            }
            .page-link {
                color: $color__semi-dark;
            }
        }
    }
}
