@import '../../assests/css/variables-site/variables-site';

.pagination-container {
    font-size: 0.875rem;
    padding: 1rem 0 0.5rem 0;
    margin: auto;
    max-width: calc(100vw - 61px);
    .pagination-total {
        color: $color__semi-dark;
        margin-bottom: 0.5rem;
    }
    .pagination-list {
        margin-bottom: 0;
        .list-item {
            &.current {
                .page-link {
                    background-color: transparent;
                    color: $color__dark;
                    font-weight: 600;
                }
            }
            .page-link {
                background-color: transparent;
                border: none;
                color: $color__half_dark;
                font-weight: 400;
                transition: all 0.3s ease;

                .ico-pagination {
                    border: 1px solid $color__logo-blue;
                    border-radius: 25px;
                    color: $color__logo-blue;
                    font-size: 1.375em;
                    transition: all 0.3s ease;
                }
                &:focus {
                    background-color: transparent;
                    color: $color__dark;
                    font-weight: 600;

                    .ico-pagination {
                        background-color: $color__logo-blue;
                        color: $color__light;
                    }
                }
            }

            &.disabled {
                .page-link {
                    opacity: 0.5;
                }
            }
            &:not(.disabled) {
                .page-link {
                    &:hover {
                        background-color: transparent;
                        color: $color__dark;
                        font-weight: 600;
                        .ico-pagination {
                            background-color: $color__logo-blue;
                            color: $color__light;
                        }
                    }
                }
            }
        }
    }

    // Hide the prev / next buttons on small devices
    /* @media (max-width: $breakpoint__sm) {
        .list-item.previous,
        .list-item.next {
            display: none;
        }
    } */
}
