@import '../../assets/css/variables-site/variables-site';

.cgp-apppanel.analytics {
    .MuiCardContent-root {
        padding: 0;
    }
}

.analytics-container {
    background-color: $color__logo-blue-dark;
    min-height: 1vh;
    padding: 1.5em 0;
}

.sec-analytics-results {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.05em;
    margin-bottom: 1.5em;

    .sec-inner-wrap {
        background-color: $color__logo-blue;
        color: $color__light;
        border-radius: 0.625em;
        border: 1px solid rgba(255, 255, 255, 0.05);
        margin: 0 5%;
        padding: 2.5em 2.5em 1.25em 2.5em;

        .sec-title {
            color: $color__light;
            font-size: 1.75em;
            font-weight: 300;
            margin-bottom: 1em;
            text-transform: uppercase;
        }
    }

    @media (min-width: $breakpoint__xl + 1px) {
        .sec-inner-wrap {
            max-width: 1200px;
        }
    }
    // Summary Section
    &.sec-analytics-results-summary {
        .card-wrap {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            text-align: center;
            margin: 0 -1em;

            .analytics-summary-card {
                border-radius: 0.625em;
                border: 1px solid rgba(255, 255, 255, 0.05);
                margin: 0 1em 1em 1em;
                padding: 1em;
                .summary-card-title {
                    color: $color__light;
                    font-size: 1em;
                    font-weight: 300;
                    text-transform: uppercase;
                }
                .summary-card-body {
                    color: $color__light;
                    .summary-card-num {
                        font-size: 2em;
                        margin: 0;
                    }
                }
            }
        }

        @media (max-width: $breakpoint__xl) {
            .card-wrap {
                .analytics-summary-card {
                    width: calc(50% - 2em);
                }
            }
        }
        @media (min-width: $breakpoint__xl + 1px) {
            .card-wrap {
                .analytics-summary-card {
                    width: calc(25% - 2em);
                }
            }
        }
    }
    // Tag Cloud Section
    &.sec-analytics-results-tag-cloud {
        .sec-inner-wrap {
            .sec-buttons {
                display: flex;
                flex-wrap: wrap;
                .btn {
                    display: inline-block;
                    background-color: $color__bg-btn-aside;
                    border-radius: 0.2em;
                    box-shadow: none;
                    color: $color__light;
                    font-weight: 300;
                    margin: 0 0.5em 0.5em 0;
                    outline: 0;
                    text-decoration: none;
                    &:hover {
                        background-color: $color__bg-btn-aside-hover;
                    }
                }
            }
        }
    }
    // Results Table Section
    &.sec-analytics-results-table {
        .table {
            background: transparent;
            caption {
                caption-side: top;
                color: $color__light;
                display: block;
                font-size: 1.3em;
                padding-top: 0;
                text-transform: uppercase;
            }
            tr {
                transition: all 0.3s ease;
                &:hover {
                    background-color: #495197;
                    color: #eee;
                }
                &.table-row-link {
                    cursor: pointer;
                }
            }
            th {
                border: none; // remove bootstrap styling
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                color: $color__table-heading;
                font-weight: 100;
                text-transform: uppercase;
                vertical-align: top;
                &.table-cell-heading-rank {
                    width: 10%;
                }
                &.table-cell-heading-title {
                    width: 70%;
                }
                &.table-cell-heading-total {
                    width: 20%;
                }
            }
            td {
                border-top: 1px solid rgba(255, 255, 255, 0.2);
                .table-cell-link {
                    display: flex;
                    color: $color__table-heading;
                    font-size: 1rem;
                    margin: 0;
                    text-align: left;
                    text-decoration: none;
                    white-space: break-spaces;
                    &:hover {
                        color: $color__table-heading;
                        &::before {
                            filter: $filter__color-table-heading;
                        }
                    }
                    &::before {
                        content: ' ';
                        display: inline-block;
                        background-size: 20px;
                        height: 20px;
                        width: 20px;
                        background: url($ico__bi-link-45deg) center center no-repeat transparent;
                        margin-right: 20px;
                        filter: $filter__color-light;
                    }
                }
            }
        }
        @media (max-width: $breakpoint__xl) {
        }
        @media (min-width: $breakpoint__xl + 1px) {
        }
    }
    // By Contributor Section
    &.sec-analytics-results-top-access-by-org {
        .analytic-filters-setting {
            margin-bottom: 2em;
        }

        .analytic-filters-list {
            display: flex;
            width: 100%;
            .advanced-filters-button {
                order: 2;
                position: relative;
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-left: none;
                border-radius: 0.25rem;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                height: 40px;
                width: 40px;
                margin: 0 1em 0 0;
                padding: 0;
                text-decoration: none;
                &::before {
                    content: '';
                    position: absolute;
                    right: 6px;
                    top: 50%;
                    transform: translateY(-50%);
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-size: 1em;
                    height: 1em;
                    width: 1em;
                    background-image: url($ico__bi-chevron-down);
                    filter: $filter__color-light;
                }
                &.open {
                    &::before {
                        background-image: url($ico__bi-chevron-up);
                    }
                }
            }
            .advanced-filters-button-label {
                order: 1;
                border-radius: 0.25rem;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                display: block;
                height: 40px;
                width: 70%;
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-right: none;
                line-height: 36px;
                margin: 0;
                padding: 0 0 0 1em;
            }
            .advanced-filters-button-filter {
                order: 1;
                background-color: transparent;
                border: 1px solid rgba(255, 255, 255, 0.2);
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right: none;
                color: $color__light;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                text-align: left;
                margin: 0;
                padding: 0 0 0 1em;
                width: 70%;
                .fas {
                    margin-left: 1em;
                }
            }
            .advanced-filters-button-submit {
                order: 3;
                background-color: $color__light;
                color: $color__logo-blue-light;
                line-height: 1em;
                border-radius: 0.25rem;
                height: auto;
                margin: 0 0 0 auto;
                padding: 0;
                width: 20%;
                &:hover {
                    background-color: $color__light;
                    color: $color__logo-blue-light;
                }
                &.disabled {
                }
            }
        }
        .filter-wrap {
            margin-top: 1em;
            padding-left: 1em;
            .list {
                padding: 0;
                .list-item {
                    display: flex;
                    align-items: center;
                    align-content: center;
                    flex-wrap: nowrap;
                    margin-bottom: 0.25em;
                    .label {
                        margin: 0 1em 0 0;
                        width: 80%;
                    }
                    .checkbox {
                        height: 1.25em;
                        text-align: right;
                        margin: 0;
                        width: 20%;
                    }
                }
            }
        }
    }
}
