@import '../../assets/css/variables-site/variables-site';

.analytic-container {
    color: $color__text-aside;
    .analytic-results-data {
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        >div {
            box-sizing: border-box;
            width: calc(25% - 5px);
            background-color: $color__light;
            border: solid 1px $color__text-aside;
            border-radius: 5px;
            padding: 10px;
            text-align: center;
            >h5 {
                font-size: 0.875em;
                font-weight: 600;
                max-width: 133px;
                margin: 0 auto 0.5rem
            }
            >p {
                font-size: 1em;
                font-weight: bold; 
                >span {
                    font-size: 0.875em;
                    font-weight: 500;  
                }
            }
        }
    }
}

