@import '../../assests/css/variables-site/variables-site';

// Active Search Filter Section
.btn-group-search-filters-active {
    flex-wrap: wrap;
    .btn-filter {
        background-color: transparent;
        color: $color__logo-blue;
        border: 1px solid $color__logo-blue-light;
        font-size: 0.75rem;
        letter-spacing: 0.05em;
        margin-bottom: 0.5em;
        padding: 0.25rem 0.75rem;
        text-transform: capitalize;
        transition-duration: 0.4s;

        &:hover {
            background-color: $color__logo-blue;
            color: $color__light;
        }
    }
}

// Search Filter Selection Section
.container-filter-selection {
    // All Search Panel Filters
    font-family: $font__main;
    .row-filters {
        position: relative;

        .filters-title {
            color: $color__semi-dark;
            font-size: 1.5rem;
            font-weight: 300;
            margin-bottom: 1.375rem;
        }

        .filters-wrap {
            width: 100%;

            .filter-wrap {
                margin: 0 0 1rem 0;
                &.open {
                    .filter-list-wrap {
                        @include cgp-show;
                    }
                    .filter-title {
                        &::after {
                            background-image: url($ico__bi-chevron-up);
                        }
                    }
                }

                .filter-title {
                    border-bottom: 1px solid $color__search-panel-border;
                    outline: none;
                    font-size: 1rem;
                    line-height: 2em;
                    font-weight: 400;
                    letter-spacing: 0.1rem;
                    margin: 0 0 1em 0;
                    padding: 0 2em 0 0;
                    text-align: left;
                    text-decoration: none !important;
                    text-transform: uppercase;
                    position: relative;
                    width: 100%;
                    transition: color 0.3s ease;
                    &::after {
                        content: '';
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-size: 1em;
                        height: 1em;
                        width: 1em;
                        background-image: url($ico__bi-chevron-down);
                        filter: $filter__color-text-main;
                    }
                    &:hover {
                        color: $color__text-main-hover;
                        &::after {
                            filter: $filter__color-text-main-hover;
                        }
                    }
                }

                .filter-list-wrap {
                    @include cgp-hide;
                    color: $color__dark;
                    .list {
                        columns: 2;
                        margin: 0;
                        padding: 0;
                    }

                    .list-item {
                        break-inside: avoid-column; // Prevent list items text from spanning columns
                        margin-bottom: 0.625rem;
                        cursor: pointer;
                        .label {
                            font-weight: 300;
                            order: 2;
                            line-height: 1.1em;
                            margin: 0;
                            padding: 0;
                        }
                        .checkbox {
                            order: 1;
                            height: auto;
                            width: auto;
                            margin: 0.125rem 1rem 0 0;
                            padding: 0;
                        }
                    }
                }
            }
        }
        .filter-actions {
            margin-top: 1.25rem;
            .search-btn {
                margin-right: 0.5em;
                padding-left: 1rem;
                padding-right: 1rem;
                background-color: $color__logo-blue;
                color: $color__light;
                border-radius: 25px;
                font-size: 0.875rem;
                letter-spacing: 0.1em;

                &:last-child {
                    margin-right: 0;
                }
            }

            .search-btn:not(.disabled) {
                &:hover {
                    background-color: transparent;
                    color: $color__logo-blue;
                    border: 1px solid $color__logo-blue;
                }
            }
        }
    }

    // Small Panel Search Filters
    &.small-panel {
    }

    // Large Panel Search Filters
    &.large-panel {
        .row-filters {
            .filters-title {
                font-size: 1.75rem;
                margin-bottom: 1.5rem;

                .MuiSvgIcon-root {
                    font-size: 0.8em;
                }
            }

            .filters-wrap {
                .filter-list-wrap {
                    .list {
                        columns: 3;
                        @media (max-width: 992px) {
                            columns: 2;
                        }
                    }
                }
            }
        }
    }
}
