@import '../../assests/css/variables-site/variables-site';

.btn-group-search-filters-active {
    flex-wrap: wrap;
    .btn-filter {
        background-color: transparent;
        color: $color__logo-blue;
        border: 1px solid $color__logo-blue-light;
        font-size: 0.75rem;
        letter-spacing: 0.05em;
        margin-bottom: 0.5em;
        padding: 0.25rem 0.75rem;
        text-transform: capitalize;
        transition-duration: 0.4s;

        &:hover {
            background-color: $color__logo-blue;
            color: $color__light;
        }
    }
}

.row-filters {
    position: relative;

    .filters-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .filters-wrap {
        width: 100%;

        .filter-wrap {
            margin-bottom: 1rem;
            &.open {
                .filter-list-wrap {
                    display: block;
                }
                .filter-title {
                    &::after {
                        background-image: url($ico__bi-chevron-up);
                    }
                }
            }

            .filter-title {
                border-bottom: 1px solid #ddd;
                outline: none;
                font-size: 1rem;
                line-height: 2em;
                font-weight: 600;
                margin: 0 0 1em 0;
                padding: 0 2em 0 0;
                text-align: left;
                text-decoration: none !important;
                position: relative;
                width: 100%;
                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-size: 1em;
                    height: 1em;
                    width: 1em;
                    background-image: url($ico__bi-chevron-down);
                    filter: $filter__color-text-main;
                }
            }

            .filter-list-wrap {
                display: none;
                .list {
                    columns: 3;
                    margin: 0;
                    padding: 0;

                    @media (max-width: 992px) {
                        columns: 2;
                    }
                }

                .list-item {
                    break-inside: avoid-column; // Prevent list items text from spanning columns
                    margin-bottom: 0.5rem;
                    cursor: pointer;
                    .label {
                        order: 2;
                        line-height: 1em;
                        margin: 0;
                        padding: 0;
                    }
                    .checkbox {
                        order: 1;
                        height: auto;
                        width: auto;
                        margin: 0 1rem 0 0;
                        padding: 0;
                    }
                }
            }
        }
    }
    .filter-actions {
        .search-btn {
            margin-right: 0.5em;
            background-color: $color__logo-blue;
            color: $color__light;
            border-radius: 25px;
            font-size: 0.875rem;
            letter-spacing: 0.1em;

            &:last-child {
                margin-right: 0;
            }
        }

        .search-btn:not(.disabled) {
            &:hover {
                background-color: transparent;
                color: $color__logo-blue;
                border: 1px solid $color__logo-blue;
            }
        }
    }
}
