$color__light: #fff;
$color__dark: #000;

$color__logo-green: #169548;
$color__logo-blue: #515aa9;
$color__logo-yellow: #ffc272;

// Simple
$color__bg-body: #f5f5f5;
$color__text-main: #54595f;
$color__text-heading: #113355;
$color__link: #113355;
$color__table-heading: #777;

// Colourful
$color__bg-body-2: #f5f5f5;
$color__text-main-2: #f1f2f8;
$color__text-aside-2: #54595f;
$color__text-heading-2: #fff;
$color__link-2: #ffffff;
$color__table-heading-2: #babede;

$color__table-border-2: rgba(255, 255, 255, 0.1);
$color__search-panel-border: rgba(0, 0, 0, 0.12);
$color__heading-sec-title-2: $color__logo-green;

// Search form:
$color__icon-btn-bg: $color__logo-blue;

// Colour filters for SVG backgrounds
// Use this to generate filter colour values from hex: https://codepen.io/sosuke/pen/Pjoqqp
$filter__color-light: invert(100%) sepia(93%) saturate(0%) hue-rotate(265deg) brightness(105%) contrast(109%); // #fff
$filter__color-table-heading-2: invert(100%) sepia(46%) saturate(3625%) hue-rotate(179deg) brightness(85%) contrast(104%); // #babede
$filter__color-dark-blue: invert(6%) sepia(6%) saturate(7298%) hue-rotate(200deg) brightness(96%) contrast(94%);