.creation-form {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.custom-tag {
  background-color: green;
  border-radius: 5rem;
  padding: 1rem;
}

.icon {
  cursor: pointer;
}

.icon .MuiSvgIcon-root {
  height: 100%;
  background-color: red;
}
