.custom-tag {
  background-color: #2E8B57;
  border-radius: 3rem;
  color: #F9E9CC;
  font-size: 1.4rem;
}

.icon {
  cursor: pointer;
  margin-left: 0.1rem;
}

.icon .MuiSvgIcon-root {
  height: 100%;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
  align-items: center;
}
