@import 'variables-site/variables-site';
html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

.mapContainer {
    width: 100%;
    height: calc(100vh - 90px);
    margin: 90px auto 0 auto;
    display: flex;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}

.leaflet-control-scale {
    z-index: 30;
    position: absolute;
    width: 120px;
    height: 20px;
    padding-left: 2px;
    font-size: 11px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.8);
    right: 0px;
    bottom: 0px;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
}

.leaflet-control-scale-line {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #000 !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    margin: auto !important;
}

.leaflet-control-attribution {
    font-size: 11px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.8) !important;
    height: 20px !important;
}

.leaflet-control-mouseposition {
    position: absolute !important;
    right: 120px !important;
    z-index: 800;
    text-align: center;
    bottom: 0px;
    margin-bottom: 0px !important;
    padding: 2px;
    display: flex !important;
    flex-direction: column;
    font-size: 11px;
    font-weight: 500;
    background-color: rgba(255, 255, 255, 0.8);
}

input {
    width: 90%;
    height: 30px;
    box-sizing: border-box;
    padding: 0 5px;
    margin: 5px 0;
}

.btn-button {
    color: #fff;
    background-color: #0074d9;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.125rem 0.75rem;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 5px 5px 5px 0;
    >span>svg {
        vertical-align: middle;
    }
}

.icon-button {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    color: #fff;
    background-color: #515aa9;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 0;
    &:disabled {
        color: #fff;
        background-color: #5a6268;
        border-color: #545b62;
        cursor: text;
    }
}

.btn-button:hover,
.icon-button:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
}

.link-button {
    background: transparent;
    border: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 14px;
    line-height: 1.5;
    margin: 5px 5px 5px 0;
    padding: 0;
    text-decoration: underline;
    cursor: pointer;
}

.searchButton {
    background-color: #ffffff;
    color: #515aa9;
    margin-top: 0.5em;
    transition-duration: 0.4s;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    border-radius: 25px;
    border: 1px solid #515aa9;
    &:hover {
        background-color: #515aa9;
        color: #ffffff;
    }
}

.disabled {
    .searchButton {
        cursor: default !important;
        &:hover {
            background-color: #ffffff;
            color: #515aa9;
            border-color: #515aa9;
        }
    }
}

.modal {
    font-size: 0.75rem;
}

.container {
    font-size: 0.75rem;
    padding: 25px 0;
    color: #000;
    small,
    .card {
        cursor: pointer;
    }
    .css-0 {
        margin: auto;
    }
}

.searchInput {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    > input {
        display: inline-block;
        font-size: 15px;
        line-height: 1em;
        background: none;
        border-radius: 75px;
        border: 1px solid $color__search-panel-border;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin: 0;
        padding: 0 calc(30px / 3);
        width: calc(100% - 33px);
        transition: color 0.2s;
        &::placeholder {
            opacity: 0.6;
        }
        &:focus {
            outline: 0;
            &::placeholder {
                opacity: 1;
            }
        }
    }
    .icon-button {
        color: $color__light;
        background-color: $color__icon-btn-bg;
        border: none;
        border-top-right-radius: 75px;
        border-bottom-right-radius: 75px;
        height: 30px;
        width: 33px;
        &:hover {
            cursor: pointer;
        }
        &:disabled {
            background-color: #5a6268;
            border-color: #545b62;
            cursor: text;
        }
    }
}

.searchFilters {
    margin: 10px auto;
    //display: flex;
    //flex-wrap: wrap;
    > h2 {
        font-size: 0.85rem;
        padding: 0 5px;
        margin: 5px 0 0;
        width: 100%;
        display: flex;
        align-items: center;
        > svg {
            margin-right: 5px;
        }
    }
    >.filterAction {
        .searchButton {
           font-size: 0.65rem;
           margin: 5px 10px 5px 0; 
           &.disabled {
            opacity: 0.6;
           }
        }
    }
}

.searchResult {
    box-sizing: border-box;
    border: 2px solid transparent;
    &.selected {
        border: 2px solid #0074d9;
    }
    &:nth-of-type(even) {
        background-color: #f2f2f2;
    }
    .searchTitle {
        font-size: 1.75em;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
        margin: 0 0 0.6em 0;
        color: #515aa9;
    }
    .searchFields {
        font-size: 0.85em;
        line-height: 1.2;
        margin-bottom: 10px;
        &:first-child {
            margin-top: 1em;
        }
    }
    .searchDesc {
        margin-bottom: 0.2em;
        margin-block-start: 0.5em;
        //margin-block-end: 1em;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.25em;
        padding-bottom: 0.3em;
    }
    .searchButton {
        float: right;
        border-radius: 25px;
        margin-bottom: 0.1em !important;
    }
    .broWhy {
        border: 5px orange solid;
        background-color: teal;
    }
    .searchButtonGroup {
        font-size: 0.9em;
        color: #515aa9;
        margin-bottom: 0.5em;
        margin-top: 0.6em;
        &.less {
            .searchButtonGroupBtn.more {
                display: none;
            }
        }
        .searchButtonGroupBtn {
            > button {
                border: 1px solid #e6a44e;
                background-color: rgba(0, 0, 0, 0);
                transition-duration: 0.4s;
                text-transform: uppercase;
                letter-spacing: 0.075em;
                margin-top: 5px;
                margin-right: 5px !important;
                color: #515aa9;
                font-size: 0.8em;
                &:hover {
                    color: #e6a44e;
                    border: 1px solid #515aa9;
                    background-color: #515aa9;
                }
            }
            &.searchButtonGroupBtnMore {
                > button {
                    border: 1px solid #e6a44e;
                    background-color: #515aa9;
                    color: #e6a44e;
                    &:hover {
                        border: 1px solid #515aa9;
                        background-color: #e6a44e;
                        color: #515aa9;
                    }
                }
            }
        }
    }
    .searchImage {
        border: 1px solid #169548;
        height: 300px;
        margin-top: 1em;
        text-align: center;
        overflow: hidden;
        .leaflet-container {
            height: 300px;
        }
    }
}

.rowDivider {
    border: 1px solid #f2f2f2;
}

.rowDivider > .searchResult {
    padding-bottom: 2em;
    padding-top: 1.2em;
}

.rowDividerMd {
    border: 1px solid #f2f2f2;
    padding-bottom: 2.5em;
    padding-top: 2em;
    .resultRow {
        width: 100%;
    }
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.pageContainer {
    width: 100%;
    height: 100%;
    margin: 90px auto 0 auto; // 90px top margin to clear the page header
    font-family: 'Open Sans';
    font-size: 14px;
    color: #54595f;
    &.resultPage {
        .resultContainer {
            padding: 0;
            h1 {
                margin: 20px auto;
                text-align: center;
            }
        }
    }
    .searchInput {
        max-width: 1000px;
        padding: 0 20px;
    }

    .searchListFilters {
        max-width: 1000px;
        margin: 10px auto;
        padding: 0 20px;
    }

    .searchFilters {
        max-width: 100%;
        padding: 0 5px 0 30px;
    }
    .resultContainer {
        padding: 25px 0;
    }
}
