@import '../../assets/css/variables-site/variables-site';

.mapping-modal-dialog {
    font-family: $font__main;
    max-width: 700px;

    .modal-content {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .modal-header {
        color: $color__logo-blue;
        font-size: 1.5rem;
        line-height: 1em;
        padding: 1em 1.5rem;
        .modal-title {
            font-weight: 600;
            font-size: 1.125em;
            letter-spacing: -0.01em;
        }
        .close {
            color: rgba(0, 0, 0, 0.54);
            opacity: 1;
            font-weight: 400;
            font-size: 1.5em;
            margin: -1.5rem -1rem -1rem auto;
            text-shadow: none;

            &:hover {
                color: rgba(0, 0, 0, 1);
            }
        }
    }

    .modal-body {
        padding: 1em 1.5rem 0.5em 1.5rem;
        font-size: 1.0625rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .mapping-list-item {
            margin: 0.5em;
            padding: .375rem 0 .375rem .75rem;
            border-radius: .25rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            background-color: $color__bg-body;
            .btn {
                white-space: pre-wrap;
                background-color: transparent;
                font-size: 1rem;
                line-height: 1.5;
                text-align: left;
                &:hover,
                &:focus {
                    color: $color__text-main;
                }
            }
        }
    }

    .modal-footer {
        padding: 2em 1.5rem;
        .btn {
            background-color: $color__logo-blue;
            color: $color__light;
            border: 1px solid $color__logo-blue;
            border-radius: 25px;
            font-size: 1rem;
            letter-spacing: 0.1em;
            min-width: 125px;

            &:hover,
            &:focus {
                background-color: $color__light;
                border: 1px solid $color__logo-blue;
                color: $color__logo-blue;
            }
        }
    }
}
