@import '../../assets/css/variables-site/variables-site';

.geoSearchContainer{
    width:100%;
    height: 100%;
    font-family: "Open Sans";
    color: #54595F;
    
    .input-container {
        transition: .8s;
    }
    
    .searchResult {
        &.selected {
            border: 2px solid #0074d9;
        }
        .searchTitle {
            font-size: 1.25em;
        }

        .searchDesc {
            font-size: 1em;
        }

        .searchButton {
            width: auto;
            padding: 4px 20px;
            margin-bottom: 2em;
        }

        .searchButtonGroupBtn {
            margin-top: 5px;;
            >.btn, >.btn-group, >.input-group {
                margin-left: 0px;
                font-size: 0.9em;
            }
        }
    } 

    .col-beat-loader {
        padding: 1rem 0;
        text-align: center;
    }

    .col-search-message {
        border-bottom: 1px solid $color__bg-aside;
        padding: 1rem 0;
        text-align: center;
    }

    .col-advanced-filters-button {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        margin: auto;
        width: 100%;
        max-width: $breakpoint__lg;
        .advanced-filters-button.link-button {
            margin: auto 0.75rem;
            padding-right: 1.25rem;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                display: inline-block;
                background-repeat: no-repeat;
                background-size: 1em;
                height: 1em;
                width: 1em;
                background-image: url($ico__bi-chevron-down);
                filter: $filter__color-light;
            }
            &.open {
                &::after {
                    background-image: url($ico__bi-chevron-up);
                }
            }
        }
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 26px;
        margin: 10px 5px;
        transition: .4s;
        input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 26px;
            background-color: $color__search-panel-border;
            -webkit-transition: .4s;
            transition: .4s;
            &:before {
                position: absolute;
                border-radius: 20px;
                content: "";
                height: 20px;
                width: 20px;
                left: 3px;
                bottom: 3px;
                background-color: $color__light;
                -webkit-transition: .8s;
                transition: .8s;
            }
        }
        
        input:checked + .slider {
            background-color: $color__light;
        }

        input:focus + .slider {
            box-shadow: 0 0 2px $color__icon-btn-bg;
        }
        
        input:checked + .slider:before {
            -webkit-transform: translateX(24px);
            -ms-transform: translateX(24px);
            transform: translateX(24px);
            background-color: $color__icon-btn-bg;
        }
    }

    .container-search {
        background-color: $color__logo-blue;
        padding: 2.5em 5% 2.5em 5%;

        .link-button {
            color: $color__light;
            outline: 0;
            margin: 0;
            padding: 0;
            text-decoration: none;
            &:hover, &:focus {
                color: $color__light;
                text-decoration: underline;
            }
        }

        .col-search-nav {
            border-bottom: 1px solid $color__table-border;
            margin-bottom: 2rem;
            padding-bottom: 0.5rem;
            text-align: right;

            .search-nav-button {
                padding-right: 1.25rem;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-size: 1em;
                    height: 1em;
                    width: 1em;
                    background-image: url($ico__bi-chevron-right);
                    filter: $filter__color-light;
                }
            }
        }

        .col-search-input {
            display: flex;
            align-items: center;
            margin-bottom: 0.5rem;
            max-width: $breakpoint__lg;
            margin: 0 auto 0.5rem auto;
            input {
                display: inline-block;
                font-size: 15px;
                line-height: 1em;
                background: $color__light;
                border-radius: 75px;
                border: none;
                border-right: 1px solid $color__logo-blue-dark;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                margin: 0;
                padding: 0 1rem;
                width: calc(100% - 33px);
                transition: color 0.2s;
                &::placeholder {
                    opacity: 0.6;
                }
                &:focus {
                    outline: 0;
                    &::placeholder {
                        opacity: 1;
                    }
                }
            }
            .icon-button {
                color: $color__icon-btn-bg;
                background-color: $color__light;
                border: none;
                border-top-right-radius: 75px;
                border-bottom-right-radius: 75px;
                height: 30px;
                width: 33px;
                &:hover, &:focus {
                    cursor: pointer;
                }
                &:disabled {
                    background-color: #5a6268;
                    border-color: #545b62;
                    cursor: text;
                }
            }
        }

        .col-advanced-filters-button {
            color: $color__light;
        }

        @media (max-width: $breakpoint__lg) {
            .col-search-nav {
                text-align: left;
            }
        }
    }


    // Active Filters
    .container-search-filters-active {
        padding: 2.5em 5% 2em 5%;
        border-bottom: 1px solid $color__bg-aside;
    }

    // Filter Selection
    .container-filter-selection {
        padding: 2.5em 5% 2em 5%;
        border-bottom: 1px solid $color__bg-aside;
        background-color: $color__bg-aside;
    }

    .container-results {
        .row-results {
            .col-beat-loader {
                padding: 1rem 0;
                text-align: center;
            }

            .col-search-message {
                border-bottom: 1px solid $color__bg-aside;
                padding-top: 1rem;
                text-align: center;
            }

            .search-image {
                height: 300px;
                overflow: hidden;
                .leaflet-container {
                    height: 300px;
                    margin-top: 0;
                }

                @media (max-width: $breakpoint__xl) {
                    margin-bottom: 1.5rem;
                }
            }

            .search-result {
                box-sizing: border-box;
                border: 2px solid transparent;
                border-bottom: 1px solid #ccc;
                letter-spacing: 0.05em;
                padding: 2.5em 5% 2em 5%;
                &.selected {
                    border: 2px solid #0074d9!important;
                }
                &:first-child {
                    border-top: 1px solid $color__bg-aside;
                }
                &:nth-of-type(even) {
                    background-color: $color__bg-aside;
                }
                .row.resultRow {
                    flex-direction: row-reverse;
                }
                .search-title {
                    color: $color__logo-blue;
                    font-size: 1.75rem;
                    font-weight: 400;
                    letter-spacing: -0.01em;
                    margin: 0 0 0.5em 0;
                    text-align: left;
                }

                .search-meta {
                    font-size: 0.75rem;
                }

                .search-desc {
                    font-size: 1rem;
                    margin-bottom: 1.5rem;
                }

                .btn-group-keywords {
                    display: flex;
                    flex-wrap: wrap;
                    color: $color__logo-blue;
                    margin: 0.6em 0 0.5em 0;
                    &.less {
                        .btn-keyword.more {
                            display: none;
                        }
                    }

                    .btn {
                        border: 1px solid $color__logo-blue-light;
                        font-size: 0.75rem;
                        letter-spacing: 0.05em;
                        margin-bottom: 0.5em;
                        padding: 0.25rem 0.75rem;
                        text-transform: capitalize;
                        transition-duration: 0.4s;
                    }

                    .btn-keyword {
                        background-color: transparent;
                        color: $color__logo-blue;
                        &:hover,
                        &:focus {
                            background-color: $color__logo-blue;
                            color: $color__light;
                        }
                    }
                    .btn-keyword-more {
                        background-color: $color__logo-blue;
                        color: $color__light;
                        &:hover,
                        &:focus {
                            background-color: $color__logo-blue-light;
                            color: $color__light;
                        }
                    }
                }

                .search-result-buttons {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    align-items: center;    
                    .btn-search {
                        background-color: $color__logo-blue;
                        color: $color__light;
                        float: right;
                        min-width: 25%;
                        border-radius: 25px;
                        font-size: 0.875rem;
                        letter-spacing: 0.1em;
                        margin-bottom: 1em;
                        margin-left: 1em;
                        &:hover, &:focus {
                            background-color: transparent;
                            color: $color__logo-blue;
                            border: 1px solid $color__logo-blue;
                        }
                    }
                }    
            }
        }
    }
    .searching-cover {
        position: absolute;
        top: 0;
        left: 100%;
        width: calc(100vw - 510px);
        height: calc(100% + 20px);
    } 
}