@import '../../assets/css/variables-site/variables-site';

.container-search-result {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.05em;
    .no-gutters {
        margin-right: 0;
        margin-left: 0;

        > .col,
        > [class*='col-'] {
            padding-right: 0;
            padding-left: 0;
        }
    }

    // Primary Column
    .main {
        color: $color__light;
        background-color: $color__logo-blue-dark;
        font-weight: 300;

        // Page Title
        .search-result-page-title-wrap {
            width: auto;
            height: auto;
            .btn-back-to-search {
                color: $color__light;
                padding-left: 0;
                i {
                    font-size: 1.5em;
                }
            }
            .search-result-page-title {
                color: $color__text-heading;
                font-weight: 300;
                letter-spacing: -0.01em;
                margin: 0;
                text-align: left;
            }
            @media (max-width: $breakpoint__md) {
                margin: 1em;
                padding: 0.5em 0;
                .search-result-page-title {
                    font-size: 1.875em;
                }
            }
            @media (min-width: $breakpoint__md + 1px) {
                margin: 1.5em 5% 1.5em 5%;
                padding: 0.5em 0;
                .search-result-page-title {
                    font-size: 2.125em;
                }
            }
        }

        // Search Result - Top Content
        .sec-search-result {
            background-color: $color__logo-blue;
            border-radius: 0.625em;
            border: 1px solid rgba(255, 255, 255, 0.05);

            .sec-title {
                color: $color__text-heading;
                font-size: 1.75em;
                margin-bottom: 0.5em;
                text-transform: uppercase;
            }

            .search-result-desc {
                p {
                    margin-bottom: 0.5em;
                }
            }

            .search-result-keywords {
                border-top: 1px solid $color__table-border;
                border-bottom: 1px solid $color__table-border;
                font-size: 0.875em;
                margin: 1em 0 2em 0;
                padding: 0.75em 0;
                p {
                    margin: 0;
                }
                strong {
                    display: inline-block;
                    color: $color__table-heading;
                    font-weight: normal;
                    padding-right: 0.5em;
                    text-transform: uppercase;
                }
            }

            @media (max-width: $breakpoint__md) {
                font-size: 0.875em;
                margin: 0 1.25em 1.25em 1.25em;
                padding: 1.25em 1.25em 0 1.25em;
            }
            @media (min-width: $breakpoint__md + 1px) {
                margin: 0 5% 1.5em 5%;
                padding: 2.5em 5% 1.25em 5%;
            }
        }

        // Search Result - Tables
        .table-search-result {
            border-color: $color__table-border;
            color: $color__light;
            margin-bottom: 0;

            @media (max-width: $breakpoint__md) {
                font-size: 0.875em;
            }

            & > :not(caption) > * > * {
                border-color: $color__table-border;
                border-bottom-width: 1px;
            }

            tbody {
                tr {
                    transition: all 0.3s ease;
                    &:hover {
                        background-color: $color__logo-blue-dark;
                        color: $color__table-heading;
                    }
                    &.table-row-link {
                        cursor: pointer;
                        &:focus-within {
                            background-color: $color__logo-blue-dark;
                        }
                        a {
                            color: $color__table-heading;
                            outline: none;
                            &:focus {
                                background-color: $color__logo-blue-dark;
                            }
                            &::before {
                                filter: $filter__color-table-heading;
                            }
                        }
                    }
                }
            }

            caption {
                caption-side: top;
                color: $color__light;
                font-size: 1.3em;
                padding-top: 0;
                text-transform: uppercase;
                .table-data-toggle {
                    position: relative;
                    background-color: transparent;
                    border: none;
                    color: $color__light;
                    display: block;
                    font-weight: 300;
                    letter-spacing: 0.05em;
                    text-align: left;
                    text-decoration: none;
                    text-transform: uppercase;
                    width: 100%;
                    transition: all 0.3s ease;
                    cursor: pointer;
                    &:hover,
                    &:focus {
                        color: $color__semi-light;
                        text-decoration: none;
                        &::after {
                            filter: $filter__color-semi-light;
                        }
                    }
                    &::after {
                        content: '';
                        position: absolute;
                        right: 6px;
                        top: 50%;
                        transform: translateY(-50%);
                        display: inline-block;
                        background-repeat: no-repeat;
                        background-size: 1em;
                        height: 1em;
                        width: 1em;
                        background-image: url($ico__bi-chevron-down);
                        filter: $filter__color-light;
                    }
                    &.expand::after {
                        background-image: url($ico__bi-chevron-up);
                    }
                    &.collapse::after {
                        background-image: url($ico__bi-chevron-down);
                    }
                }
            }

            th {
                color: $color__table-heading;
                font-weight: 100;
                width: 40%;
                text-transform: uppercase;
            }

            .table-cell-link {
                display: flex;
                color: $color__link;
                text-decoration: none;
                transition: all 0.3s ease;
                &:hover {
                    color: $color__table-heading;
                    &::before {
                        filter: $filter__color-table-heading;
                    }
                }
                &::before {
                    content: ' ';
                    display: inline-block;
                    background-size: 20px;
                    height: 20px;
                    width: 20px;
                    background: url($ico__bi-link-45deg) center center no-repeat transparent;
                    margin-right: 20px;
                    filter: $filter__color-light;
                }
                i {
                    display: block;
                    height: 20px;
                    width: 20px;
                }
                span {
                    display: block;
                }
            }

            @media (max-width: $breakpoint__md) {
                // Add spacing after the element (padding/margin do not work on tbody)
                tbody::after {
                    content: '';
                    display: block;
                    height: 1.25em;
                }
                th,
                td {
                    padding: 0.5em;
                }
            }
        }
        .btn-record-link {
            display: inline-block;
            background-color: $color__logo-blue;
            border: 1px solid rgba(255, 255, 255, 0.1);
            margin-top: 2em;
            &:hover {
                color: rgba(255, 255, 255, 0.8);
                border: 1px solid $color__table-border;
            }
        }
        @media (max-width: $breakpoint__xl) {
            order: 2;
        }
    }

    // Secondary Column
    .aside {
        background-color: $color__bg-aside;
        color: $color__text-aside;

        .sec-search-result {
            background-color: $color__light;
            margin: 0 0 2px 0;

            &.search-results-map {
                height: 300px;
                border-bottom: 2px solid $color__logo-yellow;
                padding: 0;
                .ratio {
                    height: 300px;
                    overflow: hidden;
                    .leaflet-container {
                        margin-top: 0;
                        max-height: 300px;
                    }
                }
            }

            &.search-results-analytics-data {
                background-color: transparent;
                display: flex;
                justify-content: space-between;
                >div {
                    box-sizing: border-box;
                    width: calc(50% - 5px);
                    background-color: $color__light;
                    border: solid 1px $color__text-aside;
                    border-radius: 5px;
                    padding: 10px;
                    text-align: center;
                    >h5 {
                        font-size: 0.875em;
                        font-weight: 600;
                    }
                    >p {
                        font-size: 1em;
                        font-weight: bold; 
                    }
                }
            }

            .section-title {
                color: $color__heading-aside-title;
                font-size: 1.375em;
                font-weight: 600;
                text-transform: uppercase;
            }

            .btn-group {
                margin-top: 0.5em;
                width: 100%;
                max-width: $breakpoint__sm;
            }

            .btn {
                background-color: $color__bg-btn-aside;
                color: $color__text-btn-aside;
                border-radius: 0.2em;
                font-size: 0.875em;
                letter-spacing: 0.1em;
                text-decoration: none;
                display: inline-block;
                width: 50%;

                &:hover,
                &:active,
                &:focus {
                    background-color: $color__bg-btn-aside-hover;
                    color: $color__text-btn-aside-hover;
                    box-shadow: none;
                    outline: 0;
                }

                &.btn-added {
                    background-color: $color__logo-green-dark;
                    &:hover {
                        background-color: $color__logo-green-dark;
                    }
                }
            }
        }
        @media (max-width: $breakpoint__md) {
            order: 1;
            font-size: 0.875em;
            .sec-search-result {
                padding: 2em 1.25em 2em 1.25em;
            }
        }
        @media (min-width: $breakpoint__md + 1px) {
            .sec-search-result {
                padding: 2.5em 5%;
            }
        }
    }
}
