$color__light: #f5f5f5;
$color__dark: #000;

$color__logo-green: #169548;
$color__logo-blue: #515aa9;
$color__logo-yellow: #ffc272;

// Simple

$color__bg-body: #f5f5f5;
$color__text-main: #54595f;
$color__text-heading: #113355;
$color__link: #113355;
$color__table-heading: #777;

// Colourful
$color__bg-body-2: #f5f5f5;
$color__text-main-2: #f1f2f8;
$color__text-aside-2: #54595f;
$color__text-heading-2:#515aa9;
$color__link-2: #000;
$color__table-heading-2:#113355;

$color__table-border-2: rgba(255, 255, 255, 0.1);

$color__heading-sec-title-2: $color__logo-green;
