.dropdown ul {
right: 0;
top: auto;
position: absolute;
margin-top: 0.5rem;
border-style: solid;
border-width: 0.1rem;
box-shadow: 0.1rem 0.1rem;
width: 10rem;
background-color: white;
padding: 0;
}

.dropdown ul li{
color: black;
list-style-type: none;  
z-index: 1000;
}

#loginWidget .userIcon{
color: white;
background-color: blue;
border-radius: 100%;
border-style: solid;
border-width: 0.1rem;
border-color: black;
}

#loginButton {
background-color: blue;
border-radius: 0.25rem;
color: white;
padding: 0.55em 1em;
}

.no-click {pointer-events: none;}